.b1 {
  position: absolute;
  margin-top: -20px;
  margin-left: 10px;
}
.b {
  position: absolute;
  margin-top: -20px;
  text-align: center;
}

.bn {
  margin-left: 60px;
  position: relative;
  margin-top: -35px;
}

@media screen and (max-width: 500px) {
  .b1 {
    position: absolute;
    margin-top: -35px;
  }

  .b {
    position: absolute;
    margin-top: -35px;
    margin-left: 100px;
  }

  .bn {
    position: relative;
    margin-top: -10px;
    margin-left: 60px;
  }
}
